{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ category|capitalize }}{% endblock title %}

{% block content %}
<h2>Práticas de {{ category }}</h2>

<ul class="lesson-list">
{% for cat, articles in categories if cat == category %}
    {% for article in articles %}
        <li>
        <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">{{ article.title
            }}</a></h3>
        <div> {{ article.summary }} </div>
        </li>
    {% endfor %}
{% endfor %}
</ul>

{% endblock %}

